@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700');

:root {
    --primary-color: #EEEEEE;
    --text-color: #272727;
    --secondary-color: #1D5276;
    --accent-color-1: #188265;
    --accent-color-1-alt: #4da189;
    --accent-color-2: #CE2D4F;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-wrap: wrap;
}

/*Header strip and navigation bar*/

header.navbar {
    flex: 1 0 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    min-height: fit-content;
    min-height: -moz-fit-content;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    flex-wrap: wrap;
}

header nav {
    display: flex;
    justify-content: space-around;
    height: fit-content;
    min-height: 3rem;
    margin-right: 1.5vh;
}

.navbar #open-drawer-button {
    display: none;
}

ul.nav {
    text-wrap: none;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 1.5vw;
    overflow: hidden;
}

li.nav {
    margin-top: 5px;
    list-style-type: none;
    float: left;
    padding: 10px;
    white-space: nowrap;
}

li.nav a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
}

li.nav a:hover {
    color: var(--accent-color-2);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#logo-section {
    margin: 1.5vh 0;
    display: flex;
    align-items: center;
    height: 2em;
    min-height: 3rem;
}

#logo-link,
#logo-img {
    height: 100%;
}

#logo-link:link,
#logo-link:visited,
#logo-img:active,
#logo-img:hover {
    display: flex;
    align-items: center;
    height: 100%;
    color: white !important;
    text-decoration: none !important;
}

/* header strip on middle-small screens */
@media screen and (max-width: 800px) {
    header.navbar {
        justify-content: space-around;
        flex-wrap: nowrap;
        padding: 0 2vw;
    }

    .navbar #open-drawer-button {
        margin: 0 15px;
        padding: 0 !important;
        height: 50%;
        cursor: pointer;
        display: inherit;
    }

    #logo-section {
        flex: 1 1 auto;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: center;
    }

    #logo-img {
        width: 60px;
        height: 60px;
    }

    .navbar h1 {
        padding: 0;
        font-size: 1.5rem;
        justify-self: right;
    }

    .nav {
        display: none;
        padding: 5px;
    }

    .navbar .transparent-button,
    .navbar .colored-button {
        display: none;
    }

}

@media screen and (max-width: 400px) {
    .navbar {
        font-size: 6vw;
        height: 20vw;
    }

    .navbar #open-drawer-button {
        margin: 0 4vw;
        height: 50%;
        cursor: pointer;
        display: inherit;
    }

    #logo-section {
        margin:0;
    }
    
    #logo-img {
        display: none;
    }

    .navbar h1 {
        font-size: 7vw;
    }
}


/* Sidebar */
/* sidebar outer tag */
.admin-sidebar-permanent {
    flex: 1 0 20%;
    margin: 0;
}

.MuiDrawer-paper {
    position: inherit !important;
    background-color: rgb(213, 237, 248) !important;
    border-right: none !important;
    box-sizing: border-box;
    /* to override default behaviour */
    flex: 1 1 0;
    text-align: left;
    font-size: 1rem !important;
}

.MuiDrawer-paper h3 {
    margin: 0 0 1em !important;
    font-size: 1em;
    color: white;
}

.nametag {
    background-color: #a1d3f4;
    border-radius: 0 0 18px;
    font-size: 0.8em;
    padding: 1em 1em 0
}

.nametag em {
    display: block;
    padding: 0.4em 1.6em 1em;
    font-style: normal;
    font-size: 1.2em;
    font-weight: 800;
    color: var(--secondary-color)
}

.MuiList-root {
    margin: 2em 0 0 !important;
}

/* individual buttons */
.MuiButtonBase-root {
    border: none;
    color: var(--primary-text-color);
    font-size: 0.6em;
    font-weight: 500;
    padding: 0.6em 2.6em !important;
}

.MuiButtonBase-root:active {
    color: var(--primary-color);
    background-color: var(--secondary-color) !important;
    font-size: 1em;
    font-weight: 500;
    padding: 0.6em 2.6em !important;
}

#admin-sidebar li a:any-link,
#admin-sidebar li a:-webkit-any-link,
.MuiDrawer-paper li a:any-link,
.MuiDrawer-paper li a:-webkit-any-link {
    color: var(--primary-text-color) !important;
    list-style-type: none;
    text-decoration: none;
    padding: 1em 0 1em 0;
    font-size: 1.4em;
    font-weight: 600;
}



/* content container */
.prettybackground-box {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    width: 100%;
    height: 89.4vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.prettybackground-box-add-pet {
    /* background-color: var(--primary-color); */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    position: relative;
    width: 100%;
    /* height: 100vh; */
    /* Full viewport height */
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 4rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 41%, rgba(238, 238, 238, 0) 60%, rgba(238, 238, 238, 0) 100%),
        url('../assets/petclinic-hero.jpg');
    background-position: left -0.6vw top -5.7vw;
    animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

@media only screen and (max-width: 780px) {
    .form-bg {
        background-image: url('../assets/petclinic-hero-small.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: left -0.6vw top -5.7vw;
        animation: fadeOut 3s forwards;
    }
}

.userhome-bg {
    position: absolute;
    ;
    width: 100%;
    height: 100%;
    background-image: url('../assets/userbg.jpg');
    opacity: 0.2;
}

.landingbody {
    background-color: var(--primary-color);
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 41%, rgba(238, 238, 238, 0) 60%, rgba(238, 238, 238, 0) 100%),
        url('../assets/petclinic-hero.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media only screen and (max-width: 780px) {
    .landingbody {
        background-image: url('../assets/petclinic-hero-small.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}


/*LandingPage specific*/
header h1 {
    padding-left: 2rem;
    font-size: 2.6rem;
}

section.hero {
    margin: auto;
    margin-top: 8vw;
    width: 80%;
    flex-direction: column;
    display: flex;
}

section.hero h2 {
    color: var(--text-color);
    font-family: 'Bebas Neue', cursive;
    white-space: nowrap;
    font-size: 5rem;
    margin: 0;
}

section.hero h3 {
    color: var(--text-color);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin: 0;
    margin-top: -1vw;
    margin-bottom: 0.5vw;
}

section.hero p {
    color: var(--text-color);
    width: 35vw;
    font-size: 1rem;
    margin: 0;
}

@media only screen and (max-width: 780px) {
    section p {
        min-width: 70vw;
    }

    .form-bg {
        background-image: url('../assets/petclinic-hero-small.jpg');
        background-size: cover;
        background-position: left -0.6vw top -5.7vw;
        animation: fadeOut 3s forwards;
    }

    .addPetForm {
        width: 90%;
        padding: 1.5rem;
    }

    .formButton {
        width: 100%;
    }
}


/*Page specific: registration, login*/
.registrationForm,
.loginForm {
    border-top-left-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    text-align: center;
    background-color: #282c34;
    height: 22em;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    box-shadow: 7px 10px 10px -5px rgba(39, 39, 39, 0.68);
    opacity: 0.2;
    animation: fadeIn 1s forwards;
    /* Fade in animation */

}

/* Keyframes for loginForm fade in */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/*page specific: userHome, adminHome*/
.userhome,
.admin-content {
    background-color: #fdfdfda8;
    position: relative;
    height: fit-content;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-top-left-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
}

section.welcome,
section.page-title {
    display: block;
    color: var(--text-color);
    margin-bottom: 1vw;
}

section .colored-button {
    float: right;
    margin-top: -1.5rem;
}

section.welcome h1,
section.page-title h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    margin: 0;
}

section.welcome h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin-top: -0.5rem;
}

h3.home-h3 {
    color: var(--text-color);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin: 0;
    margin-top: 1vw;
    margin: auto;
}

section.userhome-content,
section.adminhome-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2vw;

}

.home-table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #188265;
    border-radius: 5px;
    box-shadow: 5px 6px 10px -5px rgba(39, 39, 39, 0.68);
}

.home-table td {
    padding: 0.5rem;
    border: 1px solid #1D5276;
    text-align: center;
}

.home-table th {
    padding: 0.5rem;
    border: 1px solid #1D5276;
    text-align: center;
    background-color: #188265;
    color: #EEEEEE;
}


/*universal buttons */
/* REVIEW NOTE - doubled formButton style???*/
.formButton {
    background-color: var(--accent-color-1);
    color: white;
    padding: 1em 1em;
    margin: 2vw 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
    box-shadow: 5px 6px 10px -5px rgba(39, 39, 39, 0.68);
}

.formButton {
    background-color: var(--accent-color-1);
    color: white;
    padding: 1em 1.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.4s ease;
}

.formButton:hover {
    background-color: #0e543f;
}


button a {
    text-decoration: none;
}

.colored-button a:visited {
    color: var(--primary-color);
}

.transparent-button a:visited {
    color: #188265;
}

.colored-button {
    background-color: var(--accent-color-1);
    color: #EEEEEE;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    box-shadow: 5px 6px 10px -5px rgba(39, 39, 39, 0.68);
}

.colored-button:hover {
    background-color: var(--accent-color-2);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: -5px -6px 10px -5px rgba(39, 39, 39, 0.70);
}

.colored-button:disabled {
    background-color: grey;
}

.transparent-button {
    background-color: rgba(185, 76, 76, 0);
    color: #188265;
    border: 2px solid #188265;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    box-shadow: 5px 6px 10px -5px rgba(39, 39, 39, 0.68);

}

.transparent-button:hover {
    color: #ce2d4f;
    border-color: #ce2d4f;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: -5px -6px 10px -5px rgba(39, 39, 39, 0.70);
}

/*other universal*/

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    border-radius: 4px;
}

span {
    color: #188265;
}

/*services boxes*/
section.services {
    width: 80%;
    margin: auto;
    margin-top: 7vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    border: #1D5276 2px solid;
    border-radius: 15px;
    box-shadow: 5px 6px 10px -5px rgba(39, 39, 39, 0.68);
    margin-bottom: 1rem;
}

.service-container#vet {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.788) 0%, rgba(238, 238, 238, 0.8099614845938375) 42%, rgba(238, 238, 238, 0.15730042016806722) 76%, rgba(238, 238, 238, 0) 100%),
        url('../assets/vet.jpg');
    background-size: cover;
    text-align: end;
    align-items: flex-end;
    color: #272727;
}

.service-container h4 {
    color: #188265;
    text-shadow: 1px 1px #dddddd;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.service-container p {
    margin: 0px;
    width: 80%;
}

.service-container#owner {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.788) 0%, rgba(238, 238, 238, 0.8099614845938375) 20%, rgba(238, 238, 238, 0.15730042016806722) 76%, rgba(238, 238, 238, 0) 100%),
        url('../assets/owner.png');
    background-size: cover;
    color: #272727;
}

.service-container#exotic {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.788) 0%, rgba(238, 238, 238, 0.8099614845938375) 20%, rgba(238, 238, 238, 0.15730042016806722) 76%, rgba(238, 238, 238, 0) 100%),
        url('../assets/exotic.jpg');
    background-size: cover;
    color: #272727;
}

.service-container#wannabeowner {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.788) 0%, rgba(238, 238, 238, 0.8099614845938375) 20%, rgba(238, 238, 238, 0.15730042016806722) 76%, rgba(238, 238, 238, 0) 100%),
        url('../assets/Puppy-Kitten.png');
    background-size: cover;
    color: #272727;
}

/* Add Pet Form Container */
.addPetForm {
    z-index: 10;
    border-radius: 20px;
    /* Smoother edges */
    text-align: left;
    background-color: rgba(40, 44, 52, 0.8);
    /* Slightly transparent background */
    padding: 2em;
    box-shadow: 7px 10px 10px -5px rgba(39, 39, 39, 0.68);
    width: 100%;
    /* Let the form take the full width */
    max-width: 400px;
    /* But limit its maximum width */
}

.addPetForm h1 {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

/* Form Labels */
.addPetForm label {
    display: block;
    color: #EEEEEE;
    margin-top: 0.5rem;
    font-weight: bold;
}

/* Form Inputs */
.addPetForm input[type="text"],
.addPetForm input[type="date"],
.addPetForm select,
.addPetForm textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Form Textarea */
.addPetForm textarea {
    height: 100px;
}

/* Profile Page */
.form-pb {
    position: absolute;
    width: 100%;
    height: 130%;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
        url('../assets/userbg.jpg');
}

.profilePage {
    position: sticky;
    background-color: #dddddd;
    width: 70%;
    margin: 0 auto;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
    box-shadow: 7px 10px 10px -5px rgba(39, 39, 39, 0.68);
    display: grid;
    gap: 20px;
    text-align: center;
}

.changeButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--accent-color-1);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

/* ADMIN PAGES */
#admin-home {
    flex: 1 0 50%;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
        url('../assets/adminbg.jpg');
    background-size: cover;
}