#exotic {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.788) 0%, rgba(238, 238, 238, 0.8099614845938375) 20%, rgba(238, 238, 238, 0.15730042016806722) 76%, rgba(238, 238, 238, 0) 100%),
        url('../assets/exotic.jpg');
    background-size: cover;
    color: #272727;
}

#owner {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.788) 0%, rgba(238, 238, 238, 0.8099614845938375) 20%, rgba(238, 238, 238, 0.15730042016806722) 76%, rgba(238, 238, 238, 0) 100%),
        url('../assets/owner.png');
    background-size: cover;
    color: #272727;
}

#wannabeowner {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.788) 0%, rgba(238, 238, 238, 0.8099614845938375) 20%, rgba(238, 238, 238, 0.15730042016806722) 76%, rgba(238, 238, 238, 0) 100%),
        url('../assets/Puppy-Kitten.png');
    background-size: cover;
    color: #272727;
}

#vet {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.788) 0%, rgba(238, 238, 238, 0.8099614845938375) 42%, rgba(238, 238, 238, 0.15730042016806722) 76%, rgba(238, 238, 238, 0) 100%),
        url('../assets/vet.jpg');
    background-size: cover;
    text-align: end;
    align-items: flex-end;
    color: #272727;
}